#users {
    .search-box {
        display: flex;
        margin-bottom: 10px;

        .input_s {
            margin-right: 10px;
            width: 220px;
        }
    }
    .foot {
        margin-top: 10px;
        text-align: right;
    }
}
